node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

.DS_Store
.idea/
.vscode/
.expo/
.netlify

node_modules/
build/
temp/
dist/

.env
.env.*
!.env.example

dump.rdb
*.log
npm-debug.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.logs